<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{title}}</title>
</head>
<body>

{{{body}}}



<!--<script type="module" src="/lib/clean-data-excersize/index.js"></script>-->
</body>
</html>