<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../../lib/styles/site.css">
	<title>{{title}}</title>
</head>
<body>

{{{body}}}

{{> _svg-exercise}}

<script src="/lib/js/index.js"></script>
</body>
</html>