<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../../lib/styles/site.css">
	<title>{{title}}</title>
</head>

<body>
	<h1>Kleding per land</h1>
</body>

<script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
<script>
let xhr = new XMLHttpRequest();
xhr.onreadystatechange = function() {
    if (this.readyState === 4 && this.status === 200) {
      let data = JSON.parse(this.responseText);

      drawChart(data)
    }
};
xhr.open("GET", `/fetch`, true);
xhr.send();

function drawChart(data) {
	// edited from https://bl.ocks.org/alokkshukla/3d6be4be0ef9f6977ec6718b2916d168

	const dataset = {
		children: data
	};

	let diameter = 650;
	let color = d3.scaleOrdinal(d3.schemeCategory20);

	// set circular d3 layout
	let bubble = d3.pack(dataset)
				   .size([diameter, diameter])
				   .padding(2.5);

	// select the body and add the svg element with its size
	let svg = d3.select("body")
				.append("svg")
				.attr("width", diameter)
				.attr("height", diameter)
				.attr("class", "bubble");


	// create a node hierarchy
	let nodes = d3.hierarchy(dataset)
				  .sum(function(d) { return d.Amount; });

	// Add the nodes
	let node = svg.selectAll(".node")
					.data(bubble(nodes).descendants())
					.enter()
					.filter(function(d){
						return  !d.children
					})
					.append("g")
					.attr("class", "node")
					.attr("transform", function(d) {
						return "translate(" + d.x + "," + d.y + ")";
					});

	// Add titles
	node.append("title")
		.text(function(d) {
			return d.Name + ": " + d.Amount;
		});

	// draw thhe bubbles withh the radius and color
	node.append("circle")
		.attr("r", function(d) {
			return d.r;
		})
		.style("fill", function(d,i) {
			return color(i);
		});

	// style titles
	node.append("text")
		.attr("dy", ".2em")
		.style("text-anchor", "middle")
		.text(function(d) {
			return d.data.Name.substring(0, d.r / 3);
		})
		.attr("font-family", "sans-serif")
		.attr("font-size", function(d){
			return d.r/5;
		})
		.attr("fill", "white");

	node.append("text")
		.attr("dy", "1.3em")
		.style("text-anchor", "middle")
		.text(function(d) {
			return d.data.Amount;
		})
		.attr("font-family",  "Gill Sans", "Gill Sans MT")
		.attr("font-size", function(d){
			return d.r/5;
		})
		.attr("fill", "white");

	d3.select(self.frameElement)
	  .style("height", diameter + "px");
}

</script>